
.fonts3{
    font-family: 'Nunito Sans', sans-serif !important;

}
.footer{
    padding-top: 3%;
    background-color: #52a4a5;
    color: white;

}
.logoFluid{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}






.font2Rem{
    font-size: 2rem !important;
}
.pointer {
    cursor: pointer;
}
.navBar{
    background-color: #52a4a5;
    color: white;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.bannerDivInicio{
    height: 40rem;
    background-image: url("../images/bannerOneClickInicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 315%;
}

.computoDiv{
    height: 19rem;
    background-image: url("../images/computo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7%;
}
.tecnologiaDiv{
    height: 19rem;
    background-image: url("../images/placs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7%;
}
.limpieza{
    height: 19rem;
    background-image: url("../images/limpieza.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7%;

}
.mobiliarioDiv{
    height: 19rem;
    background-image: url("../images/mobiliarioparaoficina.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7%;

}
.covid{
    height: 19rem;
    background-image: url("../images/productosCovid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7%;

}
.papeleria{
    height: 19rem;
    background-image: url("../images/papeleria.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7%;

}
.enlatados{
    height: 19rem;
    background-image: url("../images/enlatados.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -7%;

}
.mask-custom-1 {
    backdrop-filter: blur(15px) !important;
    background-color: rgba(255, 255, 255, .2) !important;
    border-radius: 3em;
    border: 2px solid rgba(255, 255, 255, .1) !important;
    background-clip: padding-box !important;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03) !important;
}
.bgBlue{
    padding-top: 5%;
    height: 640px;
}
.valueProp{
    padding: 1%;
}
.imageCell{
    width: 56% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}
.paragraphSomos{
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 1% !important;
}
.logo2One{
    margin-top: -3%;
    margin-bottom: 2%;
}
.otrosServices{
    margin-top: -10%;
}
#contacto{
    margin-top: -5%;
}
  
@media (max-width: 767px) {
    .bg-image {
      height: 1400px !important;
    }
}

@media (min-width: 992px) {
   
    .contEmpresa{
        margin-top: -3%;
        margin-bottom: 3%;
    }
   
    .bannerDivInicio{
        height: 43rem;
    }
    .footer{
        /* margin-top: -9%; */
        padding-bottom: 2%;
    }
    
    
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}

@media(max-width:991px){
    .otrosServices{
        margin-top: -50% !important;
    }
    #contacto{
        margin-top: -25%;
    }
    .imageFinal{
        height: 20rem !important;
    }
    .paragraphSomos{
        width: 100% !important;
        margin-top: 5% !important;
    }
    
    .listTextList{
        margin-left: 4% !important;
    }
    .contEmpresa{
        margin-top: 10%;
    }

    .logoInicioOneClick{
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
    }
    
    .bannerDivInicio{
        height: 35rem;
        background-position: 49% 5%;
        background-image: url("../images/oneClickRes.jpg");
    }
   
    .footer{
        padding-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .responsiveMarginCard{
        margin-top: 5%;
    }
}